{{define "react_components"}}

function getUserFromPropsOrURL(props, position){
    // Get the user id, default from url path
    var userID;
    if (props.userID) {
        userID = props.userID;
    } else {
        // Default to getting the userID from the url
        var pathArray = window.location.pathname.split( '/' );
        userID = pathArray[position];
    }
    return userID;
}

var Panel = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var panelWidth = "col-md-"+this.props.panelWidth;
    var panelOffset = "col-md-offset-"+this.props.panelOffset;
    var colClasses = cx('col', panelWidth, panelOffset);
    var panelC = "panel";
    var panelColor = "panel-"+ this.props.panelColor;
    var panelClasses = cx('panel', panelC, panelColor);
    return (
      <div className="row">
        <div className={colClasses}>
          <div className={panelClasses}>
              <PanelHeader panelHeadingClasses={this.props.panelHeadingClasses}
                           panelHeadingContent={this.props.panelHeadingContent}/>
              <PanelBody panelBodyClasses={this.props.panelBodyClasses}
                         tableClasses={this.props.tableClasses}
                         tableType={this.props.tableType}/>
          </div>
        </div>
      </div>
    );
  }
});

var PanelHeader = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ppanelHeadingClasses = this.props.panelHeadingClasses;
    var panelHeading = "panel-heading";
    var panelHeaderClasses = cx('panel-header', panelHeading, ppanelHeadingClasses);
    return (
      <div className={panelHeaderClasses}>{this.props.panelHeadingContent}</div>
    );
  }
});

var PanelBody = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ppanelBodyClasses = this.props.panelBodyClasses;
    var panelBody = "panel-body";
    var panelBodyClasses = cx('panel-body', panelBody, ppanelBodyClasses);
    // Decide whether or not to show a table
    var tableElement;
    if (this.props.tableClasses) {
        tableElement = <Table tableClasses={this.props.tableClasses}
                              tableType={this.props.tableType}/>;
    }
    return (
      <div className={panelBodyClasses}>
        {tableElement}
      </div>
    );
  }
});

var Table = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ptableClasses = this.props.tableClasses;
    var table = "table";
    var tableClasses = cx('table', table, ptableClasses);
    // Decide what table to show
    var tableBody;
    if (this.props.tableType == "user-stats") {
        tableBody = <UserStatsTableBody userStatsColumnColor={this.props.userStatsColumnColor} />;
    }
    return (
      <table className={tableClasses}>
        {tableBody}
      </table>
    );
  }
});

var Medal = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    // Get the medal data for the given key
    var medalUrl = "/api/v1/medal/" + this.props.medalKey + "/";
    $.ajax({
      url: medalUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    // Create the medal URL
    var medalURL = "/medals/#" + this.state.data.name;
    // Create the medal classes
    var cx = React.addons.classSet;
    var medalClass = this.state.data.name + "-medal";
    var medalClasses = cx('medal', medalClass, "pull-left");
    return (
      <a href={medalURL}><div className={medalClasses}></div></a>
    );
  }
});

var LevelMedal = React.createClass({
  render: function() {
    return (
      <a href="/medals/#level-medal"><div className="level-medal"><div className="level-number">{this.props.medalLevel}</div></div></a>
    );
  }
});

var MedalRows = React.createClass({
  render: function() {
    var arrayLength = this.props.medals.length;
    var rowList = [];
    var medalList = [];
    // Go through all the medal keys
    for (var i = 0; i < arrayLength; i++) {
        var medalKey = this.props.medals[i];
        medalList.push(<Medal medalKey={medalKey} />);
        var currentNum = i+1;
        // Push the row and reset the current medal list every 3 medals
        if (currentNum % 3 == 0) {
            rowList.push(<div className="row">{medalList}</div>);
            medalList = [];
        }
    }
    // If there are any remaining medals, form a remainder row
    if (medalList) {
        rowList.push(<div className="row">{medalList}</div>);
    }
    return (
        <div>{rowList}</div>
    );
  }
});

var UserStatsTableBody = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    userID = getUserFromPropsOrURL(this.props, 2);
    // Get the leaderboard stats for the user
    var leaderboardStatsUrl = "/api/v1/leaderboards/user/" + userID + "/";
    $.ajax({
      url: leaderboardStatsUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    userID = getUserFromPropsOrURL(this.props, 2);
    // Decide the stat column color
    var columnColor;
    if (this.props.userStatsColumnColor) {
        columnColor = this.props.userStatsColumnColor;
    } else {
        columnColor = "warning";
    }
    // Define classes
    var cx = React.addons.classSet;
    var tdClasses = cx('table-column', columnColor);
    // Create the user stats
    var statsElement = this.state.data.map(function (userStats) {
      var statsList = [];
      var medalShare;
      if (userID == userStats.UserID) {
        medalShare = <img className="facebook-share" src="http://localhost:8080{{.DC.ImagePath}}facebook_share.png" />;
      }
      statsList.push(<tr><td className={tdClasses}>Username: {userStats.Username}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Suggestions: {userStats.Suggestions}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Suggestion Wins: {userStats.Wins}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Points: {userStats.Points}</td></tr>);
      statsList.push(<tr><td>
                        Point Level:
                        <LevelMedal medalLevel={userStats.Level} />
                        {medalShare}
                     </td></tr>);
      statsList.push(<tr><td>
                        Medals:<br/>
                        <MedalRows medals={userStats.Medals} />
                     </td></tr>);

      return statsList;
    });
    return (
      <tbody>
        {statsElement}
      </tbody>
    );
  }
});

{{ end }}