{{define "top_nav"}}
    <nav id="top-nav-bar" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Adventure-prov</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li {{if eq .DC.Page "home"}}class="active"{{end}}><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Leaderboards <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li {{if eq .DC.Page "leaderboards"}}class="active"{{end}}><a href="/leaderboards/"><strong>All-time Leaderboard</strong></a></li>
                        <li {{if eq .DC.Page "medals"}}class="active"{{end}}><a href="/medals/"><strong>Medals</strong></a></li>
                    </ul>
                </li>
                <li {{if eq .DC.Page "recap"}}class="active"{{end}}><a href="/recap/">Show Recaps</a></li>
                {{ if ne .DC.UserID "" }}
                    <li {{if eq .DC.Page "user"}}class="active"{{end}}><a href="/user/{{.DC.UserID}}/">My Account</a></li>
                {{ end }}
                {{ if eq .DC.IsAdmin true }}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li {{if eq .DC.Page "pre_show"}}class="active"{{end}}><a href="/admin/pre_show/">Pre-show Instructions</a></li>
                            <li {{if eq .DC.Page "create_show"}}class="active"{{end}}><a href="/admin/create_show/">Create Show</a></li>
                            <li {{if eq .DC.Page "vote_types"}}class="active"{{end}}><a href="/admin/vote_types/">Add/Delete Vote Types</a></li>
                            <li {{if eq .DC.Page "suggestion_pools"}}class="active"{{end}}><a href="/admin/suggestion_pools/">Add/Delete Suggestion Pools</a></li>
                            <li {{if eq .DC.Page "create_medals"}}class="active"{{end}}><a href="/admin/create_medals/">Add/Delete Medals</a></li>
                            <li {{if eq .DC.Page "add_players"}}class="active"{{end}}><a href="/admin/add_players/">Add Players</a></li>
                            <li {{if eq .DC.Page "delete_tools"}}class="active"{{end}}><a href="/admin/delete_tools/">Delete Tools</a></li>
                            <li {{if eq .DC.Page "js_test"}}class="active"{{end}}><a href="/admin/js_test/">Test JS</a></li>
                            <li {{if eq .DC.Page "export_emails"}}class="active"{{end}}><a href="/admin/export_emails/">Export e-mails</a></li>
                        </ul>
                    </li>
                {{ end }}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{ if eq .DC.AuthAction "Login" }}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Login <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="facebook_login();"><div class="facebook-icon-small pull-left"></div>&nbsp;<strong>Login with Facebook</strong></a></li>
                            <li><a id="{{.DC.AuthAction}}" href="{{.DC.AuthURL}}"><div class="google-icon-small pull-left"></div>&nbsp;<strong>Login with Google</strong></a></li>
                        </ul>
                    </li>
                {{ else }}
                    <li><a id="{{.DC.AuthAction}}" href="{{.DC.AuthURL}}">{{.DC.AuthAction}}</a></li>
                {{ end }}
              </ul>
              {{ if ne .DC.UserID "" }}
                <p class="navbar-text navbar-right">{{.DC.Username}}</p>
              {{ end }}
            </div>
        </div>
    </nav>
{{ end }}