{{define "user"}}
    <html>
      <head>
          {{template "base_header" .}}
          <title>Adventure-prov User</title>
      <body>
        <!-- Add facebook_sdk -->
        {{template "top_nav" .}}
        <div id="container-fluid"></div>
        <script type="text/jsx">
          {{template "react_components" .}}
          React.render(
            <Panel panelWidth="6" panelOffset="3" panelColor="danger"
            panelHeadingContent="User Account" panelHeadingClasses="x-large-font"
            panelBodyClasses="large-font black-font"
            tableClasses="table-condensed black-font"
            tableType="user-stats"/>,
            document.getElementById('container-fluid')
          );
        </script>
      </body>
    </html>
{{ end }}

